<%= form_with(model: [ @article, @article.comments.build ], local: true, html: { class: "comment-form"}) do |form| %>
<div class="comment-commenter-container">
  <%= form.label :commenter %><br>
  <%= form.text_field :commenter %>
</div>
<div class="comment-body-container">
  <%= form.label :body %><br>
  <%= form.text_area :body %>
</div>
<div class="comment-footer">
  <%= form.submit class: "btn btn-primary btn-rounded" %>
</div>
<% end %>