<%= form_with model: @article, local: true do |form| %>

<% if @article.errors.any? %>
<div class="alert alert-danger" role="alert" id="error_explanation">
  <p class="h4">
    <%= pluralize(@article.errors.count, "error") %> prohibited
    this article from being saved:
  </p>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="d-block my-3">
  <div class="font-italic font-weight-bold text-muted">
    <%= form.label :title %>
  </div>
  <%= form.text_field :title, class: "form-control col-md-4 col-lg-3", placeholder: "Title of the article", autofocus: true  %>
</div>

<div class="d-block my-3">
  <div class="font-italic font-weight-bold text-muted">
    <%= form.label :text %>
  </div>
  <%= form.text_area :text, class: "form-control col-md-5 col-lg-4", placeholder: "Content", rows: "8" %>
</div>

<div class="d-block my-3">
  <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
  <% cb.label(class: "checkbox-inline input_checkbox mr-3") {cb.check_box(class: "checkbox mr-1") + cb.text} %>
  <% end %>
</div>

<div class="d-block my-4">
  <%= form.submit class: "btn btn-primary btn-rounded" %>
</div>

<% end %>