<%= form_with model: @article, local: true do |form| %>

<% if @article.errors.any? %>
<div class="alert alert-danger" role="alert" id="error_explanation">
  <p class="h4">
    <%= pluralize(@article.errors.count, "error") %> prohibited
    this article from being saved:
  </p>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<p>
<div class="font-italic font-weight-bold text-muted">
  <%= form.label :title %>
</div>
<%= form.text_field :title %>
</p>

<p>
<div class="font-italic font-weight-bold text-muted">
  <%= form.label :text %>
</div>
<%= form.text_area :text %>
</p>

<p>
  <%= form.submit class: "btn btn-primary btn-rounded" %>
</p>

<% end %>