<div class="row justify-content-center">
  <div class="col-8">
    <h4 class="text-info font-italic">Article #<%= @article.id %></h4>
    <p class="h2 text-dark mt-4">
      <%= @article.title %>
    </p>

    <p class="text-muted font-italic">
      <% if (@article.created_at.to_time - @article.updated_at.to_time) >= 0 %>
      Posted on
      <%= @article.created_at.strftime(" %H:%m, %d/%m/%Y") %>
      <% else %>
      Updated on
      <%= @article.updated_at.strftime(" %H:%m, %d/%m/%Y") %>
      <% end %>
    </p>

    <% if @article.categories.any? %>
    <ul class="list-group list-group-horizontal">
      <strong class="mr-2 text-dark">Categories:</strong>
      <% @article.categories.each do |category| %>
      <li class="btn btn-light rounded-pill px-2 py-0 mr-1">
        <%= link_to "##{category.name}", category_path(category), class: "text-decoration-none" %>
      </li>
      <% end %>
    </ul>
    <% end %>

    <br>
    <div class="article-content text-left my-4" style="font-size: 1.2rem;">
      <%= simple_format @article.text %>
    </div>

    <hr>

    <p class="text-muted font-italic mb-4">
      Posted by <%= link_to @article.user.name, @article.user %>, Copyright © <%= link_to "WEBLOG", root_path, class: "text-decoration-none" %> 2020
    </p>

    <hr>

    <h4 class="text-info font-italic mb-4">Comments</h4>
    <% if @article.comments.any? %>
    <%= render @article.comments, obj: @article.user %>
    <% else %>
    <em class="text-muted">There is no comment.</em>
    <% end %>

    <hr />


    <div class="mb-4">
      <% if logged_in? %>
      <h4 class="text-info font-italic mb-4">Add a comment:</h4>
      <%= render 'comments/form' %>
      <% else %>
      <em class="text-muted">Log in to leave a comment</em>
      <% end %>
    </div>

    <%= link_to '← Back', :back %>
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
    | <%= link_to 'Edit', edit_article_path(@article) %>
    <% end %>
  </div>
</div>