<div class="row justify-content-center">
  <div class="col-8">
    <h4 class="text-info font-italic">Article #<%= @article.id %></h4>
    <p class="h2 text-dark my-3">
      <%= @article.title %>
    </p>

    <p class="text-muted font-italic">
      <% if (@article.created_at.to_time - @article.updated_at.to_time) >= 0 %>
      Posted on
      <%= @article.created_at.strftime(" %H:%m, %d/%m/%Y") %>
      <% else %>
      Updated on
      <%= @article.updated_at.strftime(" %H:%m, %d/%m/%Y") %>
      <% end %>
    </p>

    <div class="article-content text-left mb-3">
      <%= simple_format @article.text %>
    </div>

    <hr />

    <h4 class="text-info font-italic">Comments</h4>
    <% if @article.comments.any? %>
    <%= render @article.comments %>
    <% else %>
    <em class="text-muted">There is no comment.</em>
    <% end %>

    <hr />

    <h4 class="text-info font-italic">Add a comment:</h4>
    <%= render 'comments/form' %>

    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Back', articles_path %>
  </div>
</div>