<%= form_with model: @user, local: true do |form| %>

<% if @user.errors.any? %>
<div class="alert alert-danger" role="alert" id="error_explanation">
  <p class="h4">
    <%= pluralize(@user.errors.count, "error") %> prohibited
    this user from being created:
  </p>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="d-block form-group my-3">
  <div class="font-italic font-weight-bold text-muted">
    <%= form.label :name, "Username" %>
  </div>
  <%= form.text_field :name, class: "form-control col-md-4 col-lg-3", placeholder: "Enter username", autofocus: true  %>
</div>

<div class="d-block form-group my-3">
  <div class="font-italic font-weight-bold text-muted">
    <%= form.label :email %>
  </div>
  <%= form.email_field :email, class: "form-control col-md-4 col-lg-3", placeholder: "Enter email" %>
</div>

<div class="d-block form-group my-3">
  <div class="font-italic font-weight-bold text-muted">
    <%= form.label :password %>
  </div>
  <%= form.password_field :password, class: "form-control col-md-4 col-lg-3", placeholder: "Enter password"  %>
</div>

<div class="form-group my-5">
  <%= form.submit(@user.new_record? ? "Sign up" : "Save changes", class: "btn btn-primary btn-rounded mr-4") %>
  <%= link_to "Cancel", :back %>
</div>

<% end %>