<h1 class="text-info">All bloggers</h1>

<div class="container-fluid text-center my-4">
  <div class="row justify-content-start flex-wrap">
    <% if @users.count > 0 %>
      <% @users.each do |user| %>
      <div class="card col-md-4 col-lg-3 bg-light text-center p-3" style="margin: 0.2rem;">
        <ul class="listing">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="article-title">
            <strong><%= link_to user.name, user_path(user) %></strong>
          </li>
          <li>
            <small>
              <% if user.articles.count > 0 %>
              <%= pluralize(user.articles.count, "post") %>
              <% else %>
              User does not have any post.
              <% end %>
            </small>
          </li>
          <% if current_user.admin? %>
          <li>
          <%= link_to "Edit", edit_user_path(user) %><% if current_user != user %> | <%= link_to "Delete", user_path(user), method: :delete, data: { confirm: "Are you sure?" } %><% end %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    <% else %>
      <h4 class="font-italic">There is no member at the moment.</h4>
    <% end %>
  </div>
</div>

<%= link_to 'â† Back', :back %>